body {
  background-image: url('../images/paperbackground.jpeg');
  background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  overflow-y: auto; /* Enables vertical scrolling if content exceeds screen height */
   
  }
  
/* Home Button Container */
.homebutton-container { 
  width: 100%;
  display: flex;
  justify-content: center; /* Centers horizontally */
  margin-top: 20px; /* Space from the top */
}

/* Home Button Styling */
.homebutton {
  width: 100px; /* Adjust to desired size */
  height: auto; /* Maintains aspect ratio */
  cursor: pointer;
}

/*FONTS******************************************************************/
@font-face {
  font-family: 'oliver';
  src: url('fonts/Oliver-Regular.woff2') format('woff2'),
      url('fonts/Oliver-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'geologica';
  src: url('fonts/Geologica-Regular.woff2') format('woff2'),
      url('fonts/Geologica-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'winkle';
  src: url('fonts/Winkle-Regular.woff2') format('woff2'),
      url('fonts/Winkle-Regular.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'laundry gothic';
  src: url('fonts/TTLaundryGothicR.woff2') format('woff2'),
      url('fonts/TTLaundryGothicR.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'laundry gothic bold';
  src: url('fonts/TTLaundryGothicB.woff2') format('woff2'),
      url('fonts/TTLaundryGothicB.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/*********************************************************************************/

h1{
  font-family: 'oliver', 'winkle', 'annis handwriting', cursive;
  font-size: 37px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  text-align: center;
}

h2{
  margin-left: 70px;
  font-family: 'oliver', 'laundry gothic', 'winkle', 'annis handwriting', cursive;
}

p{
  margin-left: 70px;
  font-family: 'oliver', 'laundry gothic', 'annis handwriting', cursive;
  text-align: left;
  font-size: 20px;
}

pre{
  margin-left: 70px;
  font-family: 'oliver', 'laundry gothic', 'annis handwriting', cursive;
  text-align: left;
  font-size: 20px;
}
/*ARTICLE LIST STYLING**************************************************/
.articlelist {
  justify-content: center;
  list-style-type: none; /* Removes bullets */
  padding: 0;
  margin: 0 auto; /* Center the list */
  text-align: center; /* Center-align the text */
  font-family: 'oliver', 'laundry gothic', 'winkle', cursive;
  font-size: 22px;
}

.articlelist li {
  margin: 10px 0; /* spacing between items */
}

.articlelist a {
  text-decoration: none; 
  color: rgb(39, 38, 38); 
}

.articlelist a:hover {
  color: #45a95f; 
  text-decoration: underline; 
  cursor: pointer;
  transition: width 0.3s ease;
}


/*BACK LINK STYLING**************************************************/
.back-link {
  text-decoration: none; 
  color: black; 
  font-size: 18px; 
  position: relative; /* Required for the ::after pseudo-element */
  transition: color 0.3s ease; 
  margin-left: 70px;
  font-family: 'oliver', 'laundry gothic', 'winkle', cursive;
}

/* Hover effect for the link */
.back-link:hover {
  color: #69b985; /* Darken the color on hover */
  color: #45a95f; 
  text-decoration: underline; 
  cursor: pointer;
  transition: width 0.3s ease;
}
