body {
  background-image: url('../images/paperbackground.jpeg');
  background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden; /* Prevents scrolling if content overflows */
   
  }
  
/* Home Button Container */
.homebutton-container { 
  width: 100%;
  display: flex;
  justify-content: center; /* Centers horizontally */
  margin-top: 20px; /* Space from the top */
}

/* Home Button Styling */
.homebutton {
  width: 100px; /* Adjust to desired size */
  height: auto; /* Maintains aspect ratio */
  cursor: pointer;
}

@font-face {
  font-family: 'annis handwriting';
  src: url('CSS/fonts/annishandwritingRegular.woff2') format('woff2'),
      url('CSS/fonts/annishandwritingRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Reenie Beanie';
  src: url('CSS/fonts/ReenieBeanie.woff2') format('woff2'),
      url('CSS/fonts/ReenieBeanie.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


body {
  font-family: 'Reenie Beanie', 'annis handwriting' cursive;
}

h1{
  font-family: 'Reenie Beanie', 'annis handwriting' cursive;
  font-weight: bold;
  display: flex;
  justify-content: center;
  padding: 10px;
}

