html {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    min-height: 100%;
    color:#E0E0E0 ;
}

  
body{
    overflow-x: hidden;
    padding: 0;
    color: #011627;
    height: 100vh; /* Ensure the body covers the entire viewport height */
    margin: 0; /* Remove default body margin */
}

.articlehometitle{
  justify-content: center;
  text-align: center;
  margin-top: 60px;
  cursor: pointer;
}

.nuffimage{
  max-width: 200px;
  cursor: pointer;
}


  /**************  grid   ***************/
  /*************************************/
  .row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
    padding: 40px;
  }
  
  .grid-item{
    width: 100%;
    height: auto;
    padding: 10px;
  }
  
  .image{
    display: block;
    width: 100%;
    height: auto;
    justify-content: center;
  }

  .caption{
    text-decoration: none;
    font-size: 20px;
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
  }

  a{
    text-decoration: none;
    color: grey;
  }
  
  #backToTopBtn {
    display: none;
    position: fixed;
    bottom: 5%;
    right: 5%;
    z-index: 1;
    background-color: #d2dcce;
    color: darkslategray;
    border: none;
    padding: 0.8% 0.8%;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    transition: opacity 0.5s ease-in-out;
  }
  
  #backToTopBtn:hover{
    background-color: #adcaaf;
    transition-duration: 0.3s;
  }
  
  
  