html {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    min-height: 100%;
    color:#E0E0E0 ;
}

  
body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    color: #011627;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ensure the body covers the entire viewport height */
    margin: 0; /* Remove default body margin */
}

div{
  display:block;
  position:absolute;
}

/********************************************************************************************************************
/*BLOB TITLE NUFF***********************************************************************************************/
/*******************************************************************************************************************/
.container{
  width:320px;
  height:320px;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%)
  }

h1{
  background:#fff;
  width:100%;
  height:100%;
  margin: 0;
  padding:0;
  display:flex;
  font-family: 'Times New Roman', Times, serif;
  font-size:90px;
  flex-flow:row wrap;
  align-content:center;
  justify-content:center
  }

h1 span{width:100%;position:relative}

h1 span:before{
  background:linear-gradient(45deg,#073f05, #789461,#684b08) ;
  margin: 0;
  width:100%;
  height:100%;
  display:block;
  position:absolute;
  content:"";
  mix-blend-mode:screen
  }

[class*="blobs"]
  {mix-blend-mode:color;animation:blobs 15s ease-in-out infinite alternate}

.blobs_1{
  background: #b4dab3;
  width:60px;
  height:60px;
  top:90px;
  left:210px
  }

.blobs_2{
  background:#84be81;
  width:80px;
  height:80px;
  top:155px;
  left:230px
  }

.blobs_3{
  background:#90d86dea;
  width:60px;
  height:60px;
  top:145px;
  left:20px;
  }

.blobs_4{
  background:rgb(194, 225, 194);
  width:100px;
  height:100px;
  top:115px;
  left:100px;
  }

.blobs_5{
  background:#074b14f4;
  width:50px;
  height:50px;
  top:55px;
  left:70px
  }

.blobs_6{
  background:#0e3905;
  width:60px;
  height:60px;
  top:220px;
  left:55px
  }

.blobs_7{
  background:rgb(61, 32, 4);
  width:50px;
  height:50px;
  top:210px;
  left:180px
  }

@keyframes blobs{
  0%{border-radius:26% 74% 61% 39% / 54% 67% 33% 46%}
  10%{border-radius:74% 26% 47% 53% / 68% 46% 54% 32%}
  20%{border-radius:48% 52% 30% 70% / 27% 37% 63% 73%}
  30%{border-radius:73% 27% 57% 43% / 28% 67% 33% 72%}
  40%{border-radius:63% 37% 56% 44% / 25% 28% 72% 75%}
  50%{border-radius:39% 61% 70% 30% / 61% 29% 71% 39%}
  60%{border-radius:27% 73% 29% 71% / 73% 51% 49% 27%}
  70%{border-radius:39% 61% 65% 35% / 74% 65% 35% 26%}
  80%{border-radius:55% 45% 37% 63% / 38% 30% 70% 62%}
  90%{border-radius:25% 75% 70% 30% / 39% 50% 50% 61%}
  100%{border-radius:66% 34% 33% 67% / 65% 73% 27% 35%}
  }

  /*****************************************************************/
.buttoncontainer{
  text-align: center;
  justify-content: center;
  margin-top: 300px;
}

#articlesButton
{
  cursor: pointer;
  position: relative;
  background-color: #d2dcce;  
  border-radius: 12px;
  border: none;
  color: darkslategray;
  padding: 14px;
  font-size: 19px;
  font-family:'Times New Roman', Times, serif;
  transition: all 0.3s;
}

#articlesButton:hover
{
  background-color: #adcaaf;
  border: none;
  border-radius: 12px;
  color: darkslategray;
  padding: 11px;
  font-family:'Times New Roman', Times, serif;
}


#articlesButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}

#articlesButton span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.3s;
}

#articlesButton:hover span {
  padding-right: 18px;
}

#articlesButton:hover span:after {
  opacity: 1;
  right: 0;
}

/*************************************************************************/
/*articles.html styling**********************************************/
a.homeImageButton{
  top: 20px;
  left: 30px;
  position: absolute;
  border: none;
  cursor: pointer;
  display: inline-block;
  z-index: 1;
}


#homeImage{
  width: 80px;
  height: auto;
}

a.homeImageButton:hover{
  border: 2px;
  border-color: darkgreen;
  transition-duration: 0.5s;
}

#backToTopBtn {
  display: none;
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 1;
  background-color: rgb(198, 190, 190);
  color: #011627;
  border: none;
  padding: 0.8% 0.8%;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
  transition: opacity 0.5s ease-in-out;
}