html {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    min-height: 100%;
    color:#E0E0E0 ;
}

  
body{
    overflow-x: hidden;
    padding: 0;
    color: #011627;
    height: 100vh; /* Ensure the body covers the entire viewport height */
    margin: 0; /* Remove default body margin */
}


h1{
  font-size: 70px;
}

.backbutton{
  justify-content: center;
}

/*************************************************************************/
  /****        HOME BUTTON IN ARTICLES      ********************************/
  /*************************************************************************/
  
  a.homeImageButton{
    top: 20px;
    left: 30px;
    position: absolute;
    cursor: pointer;
    display: inline-block;
    z-index: 1;
  }
  
  #homeImage{
    width: 80px;
    height: auto;
    --g: 2px;     /* the gap */
    --b: 2.3px;    /* border thickness*/
    --c: #669706; /* the color */
    padding: calc(var(--g) + var(--b));
    --_c: #0000 0 25%, var(--c) 0 50%;
    --_g1: repeating-linear-gradient(90deg ,var(--_c)) repeat-x;
    --_g2: repeating-linear-gradient(180deg,var(--_c)) repeat-y;
    background:
      var(--_g1) var(--_p, 25%) 0   ,var(--_g2) 0    var(--_p,125%),
      var(--_g1) var(--_p,125%) 100%,var(--_g2) 100% var(--_p, 25%);
    background-size: 200% var(--b),var(--b) 200%;
    cursor: pointer;
    filter: grayscale(50%);
    transition: .3s;
  }
  
  #homeImage:hover{
    --_p: 75%;
    filter: grayscale(0%);
  }